<ul ng-controller="VideoList" class="video-list">

  <video-list-entry ng-repeat='data in dummyData' data='data'
    ng-click='onClick(data.id.videoId,data.snippet.title,data.snippet.description)'>
    <h5><em>videoListEntry</em> component goes here</h5>
  </video-list-entry>


  <!-- <video-list-entry image='https://miro.medium.com/max/1024/1*YVNo5RQmyHKRDlmhoZG0gg.png' title='hello'
    description='wassup'>
    <h5><em>videoListEntry</em> component goes here</h5>
  </video-list-entry> -->
  <!-- <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
</ul>